---
import Layout from '../layouts/Layout.astro';
import HeroThreeD from '../components/hero-three-d.tsx'
---

<Layout title="Welcome to Astro.">
	<main>
    <section class='hero-section'>
      <div class='animation-container'>
        <HeroThreeD client:load />
      </div>
      <div class='hero-text'>
        <h1>TRINITY DESIGN LABS</h1>
        <p>Turning Ones and Zeros into Business Results</p>
      </div>
    </section>

    <section class='section-2'>
      <h1>second section</h1>
    </section>
	</main>
</Layout>

<style>
  .hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 0;
  }

  .animation-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
  }

  .hero-text {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .section-2 {
    height: 100vh;

  }

</style>
